.homeOuterWrapper {
  height: 70vh;
  width: 100vw;
  max-width: 100%;
  background: #4169e1;
  .homeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      padding: 0 1em;
    }
  }
}
