@media screen and (min-width: 0px) {
  .projectWrapper {
    .project {
      .left {
        height: 100vh;
        background: lightcoral;
      }
      .right {
        height: 100vh;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .projectWrapper {
    .project {
      display: flex;
      height: 50%;
      .left {
        flex: 1;
      }
      .right {
        flex: 1;
      }
    }
    .project:first-of-type {
      .left {
        background: white;
      }
      .right {
        background: lightcoral;
      }
    }
  }
}

@media screen and (min-height: 600px) {
  .projectWrapper {
    .project {
      .left {
        height: 50vh;
        background: lightcoral;
      }
      .right {
        height: 50vh;
      }
    }
  }
}
