.skillWrapper {
  text-align: center;
  font-family: Lato;
  h1 {
    margin: 2em 0;
    text-decoration: underline;
  }
  .topSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .skill {
      width: 45%;
      margin: 0.2em 0;
    }
  }
}
@media screen and (min-width: 500px) {
  .skillWrapper {
    .topSkills {
      .skill {
        width: 30%;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .skillWrapper {
    .topSkills {
      margin: 0 15%;
      .skill {
        width: 15%;
      }
    }
  }
}
